
/* 헤더 */
#main-header{
    height: 40px;
    background: #faf7f7;
    position: relative;
}

.header-search-form{
    float: left;
}
.header-menu {
    float: right; 
}
.header-title{
    position: absolute;
    width: 200px; 
    height: 40px;
    left: 50%; 
    margin-left: -100px;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    text-indent: -9999px;  /* 글자(interest)을 굳이 지우지는 않음 */
}

/* 풀 다운 메뉴 */
.outer-menu{
    float:left;
    width: 100px; height: 20px;
    line-height: 20px;
    padding: 10px 0;
    position: relative;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    z-index: 9999;
}

.outer-menu:hover { background: #E1DFDF;}

.inner-menu{
    display: none;
    background: #FFFFFF;
    margin-top: 10px;
    width: 100%;
    border-top: 1px solid #cccaca;
    box-shadow: 0 2px 4px rgba(34, 25, 25, 0.5);
}

.inner-menu a {
    display: block;
    padding: 5px 10px;
    z-index: 5000;
}

.inner-menu a:hover{ background: #E1DFDF; }


/* 메인 내비게이션 */
#main-navigation{
    height: 30px;
    background: #faf7f7;
    border-top: 1px solid #cfcaca;
    box-shadow: 1px 3px 3px rgba(34, 25, 25, 0.4);
}

#main-navigation > ul {
    overflow: hidden;
    text-align: center;
}

#main-navigation > ul > li {
    display: inline;
    padding: 0 5px;
    line-height: 30px;
    font-size: 13px;
    color: #524D4D;
    text-shadow: 0 1px 1px white;
}

#main-navigation > ul > li:hover{
    background: #E1DFDF;
    border-radius: 2px;
}

/* 검색 양식 */
.header-search-form{
    padding: 7px;
}

.input-search{
    height: 26px;
    display: block;
    float: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 15px 0 0 15px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);

}

.input-search:focus{
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.5);
    outline: 0;
    border-color: rgba(82,168,236,0.8);
}

.input-submit{
    display: block;
    float: left;
    width: 50px; height: 26px;
    border-radius: 0 15px 15px 0;
    border: 1px solid #cccccc;
    margin-left: -1px;
    /* vertical-align: top; */
}
